<html lang="en">
{% extends 'Base/base.html' %}
{% load static %}

{% block title %} Register {% endblock %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/loginRegisterUser.css' %}">
    <title>loginRegisterUser</title>
</head>
<body>
   
        {% block content %}

            <div class="container-fluid p-0" id="authenticate-direct">
                <div id="authenticate-direct-choose" class="h-100 d-flex justify-content-center align-items-center">
                    <div class="card p-4" id="authenticate-direct-card">  

                        <div class="h5 text-center border-bottom p-2">Customer Sign In</div>       
                        <div class="d-flex flex-column">
                            <form action="" method="post">
                                {%csrf_token%}
                                <div class="signup-forms">
                                    <input type="text" name="username" placeholder="username">
                                    <input type="password" name="password" placeholder="password"> 
                                    
                                    <!-- {{form.as_p}} -->
                                    
                                </div>
                                                    
                                <button type="submit" class="btn btn-primary w-100">Login</button>
                                <p>or</p>
                                <a href="{% url 'RegisterCustomer' %}" class="btn btn-primary">
                                    <!-- <button type="submit" class="btn btn-primary w-100">Register</button> -->Register
                                </a>
                                
                            </form>
                            
                        </div>
                        
                    

                    </div>
                
                </div>
            </div>

        {% endblock %} 

</body>
</html>